{% extends "landing/landingPage.html.twig" %}
{% block title %}
    Gestion de mesas
{% endblock %}
{% block body %}
        <div id="contenedor">
      <div id="sala"></div>
      <div id="almacen">
        <a href="{{absolute_url(path('app_metodos_new_mesa'))}}">Nueva mesa</a>
      </div>
    </div>
{% endblock %}