{% extends 'landing/landingPage.html.twig' %}
{% block title %}
    Reservas
{% endblock %}
{% block body %}
    <div id="contenedorReservas">
      
      <div id="salaReservas"></div>
      <div id="listadoReservas">
      {# <p>Fecha: <input type="date" name="fecha" id="fechaReserva"></p> #}
      <p>Fecha: <input type="text" id="datepicker"></p>
      <p>Hora: <select id="tramosReservas"></select></p>
      <p>Juego: <select id="selectJuegos"></select></p>
      <button id="botonReservas">Ver mesas disponibles</button>
      <button id="btnModal">modal</button>
      </div>

      <div id="miModal" class="modal fade show">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Crear reserva</h5>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Mesa: </label>
                  <label id="labelIdMesa"></label>
                </div>
                <div class="form-group">
                  <label>Usuario: </label>
                  <label id="labelCampoUser"></label>
                </div>
                <div class="form-group">
                  <label>Fecha: </label>
                  <label id="labelCampoFecha"></label>
                </div>
                <div class="form-group">
                  <label>Tramo: </label>
                  <label id="labelIdTramo"></label>
                </div>
                <div class="form-group">
                  <label>Juego: </label>
                  <label id="labelIdJuego"></label>
                </div>
              </div>
              <div class="modal-footer">
                <button id="btnCrear" type="button" class="btn btn-primary">Crear</button>
                <button id="btnCancelar" type="button" class="btn btn-secondary">Cancelar</button>
              </div>
            </div>
          </div>
      </div>
      
    </div>
{% endblock %}