{% extends 'landing/landingPage.html.twig' %}
{% block title %}
    Reservas
{% endblock %}
{% block body %}
    <div id="contenedorReservas">
      
      <div id="salaReservas"></div>
      <div id="listadoReservas">
      <p>Fecha: <input type="date" name="fecha"></p>
      <p>Hora: <input type="time" name="hora"></p>
      <button>Ver mesas disponibles</button>
      </div>
      
    </div>
{% endblock %}