{% extends 'landing/landingPage.html.twig' %}
{% block title %}
    Reservas
{% endblock %}
{% block body %}
    <div id="contenedorReservas">
      
      <div id="salaReservas"></div>
      <div id="listadoReservas">
      {# <p>Fecha: <input type="date" name="fecha" id="fechaReserva"></p> #}
      <p>Fecha: <input type="text" id="datepicker"></p>
      <p>Hora: <select id="tramosReservas"></select></p>
      <button id="botonReservas">Ver mesas disponibles</button>
      </div>
      
    </div>
{% endblock %}